/*GENERAL*/
* {
  margin: 0;
  padding: 0;
}

/*TOP SECTION*/
.nav > ul > li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  padding: 2px 5px;
  background-color: gray;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 2;
  height: 25px;
  border-bottom: 3px grey solid;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav > ul {
  list-style: none;
  display: inline;
}

/*SECTION ONE*/
.section-one {
  height: 500px;
  background-color: black
}
.section-one-left {
  border: 3px solid gray;
  width: 30%;
  float: left;
  color: white;
  margin-left: 40px;
}
.section-one-left .mypicture {
  width: 100%;
}

.page-info{
  color: white;
  float: right;
  width: 60%;
}

.page-info-a{
  background-color: grey;
  margin-bottom: 20px;
}

.page-info-b{
  background-color: grey;
  margin: 20px 0;
}

.page-info-c {
  background-color: grey;
  padding-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
}

/*SECTION TWO*/
.thingsILike h2{
  color: white;
  text-align: center;
}

.thingsILike .pictures {
  border: 2px solid black;
  background-color: lightgrey;
  margin-left: 40px;
}

.thingsILike {
  height: 500px;
  background-color: darkblue;
}

/*SECTION THREE*/
.dont-like {
  height: 1000px;
  background-color: grey;
}


.dont-like h2 {
  text-align: center;

}

.dont-like .pictures {
  height: 600px;
  width: 800px;
  border: 3px solid red;
  margin-left: 40px;
  position: relative;
}

/*IMAGES*/
.milk {
  width: 300px;

}
.lawnmower {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cyrus {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
}
.football {
  width: 300px;
  position: relative;
  top: 308px;
  right: 305px;
}

.image {
  width: 200px;
  float: left;
  margin: 0 20px
}
